apiVersion: ts.opentelekomcloud.com/v1alpha1
kind: TypesenseCluster
metadata:
  labels:
    app.kubernetes.io/name: typesense-operator
    app.kubernetes.io/managed-by: kustomize
  name: c-bm-1
spec:
  image: typesense/typesense:30.0.rc7-amd64
  securityContext:
    pod:
      runAsUser: 11000
      fsGroup: 2000
      runAsGroup: 3000
      runAsNonRoot: true
    healthcheck:
      allowPrivilegeEscalation: false
      readOnlyRootFilesystem: true
      capabilities:
        drop: [ "ALL" ]
  replicas: 3
  storage:
    size: 100Mi
    storageClassName: iscsi
---
apiVersion: ts.opentelekomcloud.com/v1alpha1
kind: TypesenseCluster
metadata:
  labels:
    app.kubernetes.io/name: typesense-operator
    app.kubernetes.io/managed-by: kustomize
  name: c-bm-2
spec:
  image: typesense/typesense:30.0.rc7-amd64
  replicas: 3
  storage:
    size: 1Gi
    storageClassName: nfs
    accessMode: ReadWriteMany
  resources:
    limits:
      cpu: "1000m"
      memory: "131072Mi"
    requests:
      cpu: "1000m"
      memory: "131072Mi"